[Unit]
Description=AXP20x power off
DefaultDependencies=no
After=shutdown.target umount.target
Before=systemd-poweroff.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/libexec/axp-poweroff.sh
TimeoutStartSec=10
StandardOutput=kmsg
StandardError=kmsg

[Install]
WantedBy=poweroff.target
